.App {
  text-align: center;
  background-color: rgb(151, 83, 38);
  
}

h1 {
  font-size: 50px;
  
}
.App-header {
  background-image: url('./dragon background.jpg');
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.infoBox{
  width: 1600px;
  height: 100vh;
  opacity: 0.6;
display: flex;
flex-direction:column;

align-content: center;
background-color: #283142;
}
.nameTitle{
  display: flex;
  flex-direction:column;

}